/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.75;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 5px 34px;
}

#logo img {
  height: 59px;
  margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  border-radius: 20px;
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
  height: 440px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url("../images/pexels-chan-walrus-958545.jpg") no-repeat center
    center/cover;
  height: 520px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
#home h1 {
  color: rgb(255, 247, 0);
  margin: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  padding: 0px;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  padding: 3px 10px;
}
/* ***** Utility classes ****** */
.h-prime {
  font-size: 3rem;
  padding: 0px 10px;
}
.h-second {
  font-size: 2rem;
  padding: 0px 10px;
}
.center {
  text-align: center;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(56, 10, 10, 0.5);
  color: white;
  margin: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.services-container {
  background-color: rgba(255, 128, 0, 0.3);
  padding: 35px 0px 20px 0px;
  width: 100%;
}
#services {
  margin: 25px 34px;
  display: flex;
  justify-content: space-evenly;
}

#services .box {
  background-color: rgb(255, 243, 228);
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}
#services .box img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0px 0px;
}

#client-section {
  height: 350px;
  margin: 35px 0px;
  width: 100%;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
#clients img {
  width: 100%;
}

#contact {
  background-color: rgb(255, 193, 193);
  height: 400px;
  padding: 120px 0px 20px 0px;
  width: 100%;
}

#contact-box {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0px 150px 0px 0px;
  font-size: 18px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  border: 3px solid brown;
}

#contact-box form {
  width: 30%;
}

/* #contact::before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

footer {
  background-color: black;
  color: white;
  padding: 10px 0px;
}
